.component-container{
    margin-left: 490px;
    margin-bottom: 400px;
    width: 500%;
    
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: gray;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
   outline: auto;
    outline-style: round;
}