<div class="component-container">
<div class="title">
  <h1>Contacts</h1>
  <h4>contacts details</h4>
</div>
<div class="container">
  <table
    *ngIf="contacts.length; else noUsers"
    class="table table-dark table-striped"
  >
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th class="ls">Email</th>
        <th class="ls">Birthday</th>
        <th>Phones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of contacts; index as i">
        <td class="fw-bold">{{ i + 1 }}</td>
        <td>{{ user.name | titlecase }}</td>
        <td class="ls">{{ user.email | lowercase }}</td>
        <td class="ls">{{ user.birthday | date: "dd/MM/yyyy" }}</td>
       <td class="ls">{{user.phones}}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noUsers>
  <p><i>No Users Found...</i></p>
</ng-template>
</div>
